//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row(ng-cloak, style="padding-top: 10px")
      h1 Ethereum Bad Blocks
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodecheck #
            th.th-nodename Block
            th.th-nodetype Error Type
            th.th-latency Category
            th(style="width: 100px;") IP
            th(style="width: 120px;") Date
        tbody(ng-cloak)
          tr(ng-repeat='report in reports | orderBy:predicate track by report.id', id="report_{{report.id}}")
            td.td-reportcheck 1
            td {{ report.block }}
            td {{ report.errortype }}
            td {{ report.category }}
            td {{ report.ip }}
            td {{ report.createdAt }}
