//- index.jade
extends ./layout.jade

block content
  div.container-fluid
    div.row
      h1 Ethereum Bad Blocks
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodecheck #
            th.th-nodename Block
            th.th-nodetype Error Type
            th.th-latency Category
            th(style="width: 100px;") IP
            th(style="width: 120px;") Date
        tbody
          tr
            td.td-reportcheck 1
            td {{ report.block }}
            td {{ report.errortype }}
            td {{ report.category }}
            td {{ report.ip }}
            td {{ report.createdAt }}
